/* URL Container Layout */
.url-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  margin: 30px;
  color: #ffffff;
  gap: 40px;
}

/* Left Section */
.url-left {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.url-left h2 {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  text-transform: uppercase;
  color: #00b7ff;
  letter-spacing: 1px;
}

/* Input fields */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: white;
}

.input-group input:focus {
  outline: 2px solid #00b7ff;
}

/* Settings dropdown */
.settings details {
  background-color: #2a2a2a;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.settings summary {
  font-weight: 600;
  cursor: pointer;
  color: #00b7ff;
}

/* Color Picker */
.color-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.color-box input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}
.color-box input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 30px;
  border: 3px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

/* Removes inner default padding (Chrome, Edge, etc.) */
.color-box input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

/* Makes the color fill perfectly inside the border */
.color-box input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}


/* Right section */
.url-right {
  width: 40%;
  text-align: center;
  background-color: #2a2a2a;
  border-radius: 12px;
  padding: 20px;
}

.qr-preview {
  margin-bottom: 20px;
}

/* Download Button */
.download-btn {
  padding: 10px 20px;
  background-color: #00b7ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.download-btn:hover {
  background-color: #0098e6;
  transform: scale(1.03);
}
